.footer {
    background: var(--background-grey);
    color: #ffffff;
    
  }
  .footer_aline {
    display: flex;
    align-items: baseline;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
 