.header {
    padding-top: 24px;
    background: var(--background);
  }
  .header-portfolio {
    border-bottom: 1px solid #ececec;
  }
  .icon {
    display: inline-flex;
    fill: currentColor;
    margin-right: 10px;
  }
  
  