.header {
    
    background: var(--background);
  }
  .header_presentation_list_item_link__text_type {
    border-bottom: 1px solid #ececec;
  }
  .icon {
    display: inline-flex;
    fill: currentColor;
    margin-right: 10px;
  }
  
  