ul,
ol,
h1,
h2,
h3,
h4,
h4,
p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
  ul {
    list-style-type: none;
  }
  img {
    display: block;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--gray);
    letter-spacing: 0.03em;
  }
  .hero__title {
    color: var(--background);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 696px;
    margin: auto;
    margin-bottom: 20px;
  }
  